<!DOCTYPE html>{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    
    <div class="form-style">
        <div class="form-style-heading">Register here</div>
        <form action="" method="post">
            <label for="field1">
                <span>Name 
                    <span class="required">*</span>
                </span>
                <input type="text" class="input-field" name="field1" value="" />
            </label>
            <label for="field2">
                <span>Email 
                    <span class="required">*</span>
                </span>
                <input type="text" class="input-field" name="field2" value="" />
            </label>
            <label>
                <span>Contact no.</span>
                <input type="text" class="input-field" name="field3" value="" />
            </label>
            <label for="field5">
                <span>Message 
                    <span class="required">*</span>
                </span>
                <textarea name="field5" class="textarea-field"></textarea>
            </label>
            <label>
                <span> </span>
                <input class="submit-btn" type="submit" value="Submit" />
            </label>
        </form>
    </div>

</body>
</html>