<!DOCTYPE html>{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <!-- Manually rendered form -->
    <div class="form-style">
        <div class="form-style-heading">Register here</div>
        <form action="" method="post">
            {% csrf_token %}
            <label for="{{ form.name.id_for_label }}">
                <span>Name 
                    <span class="required">*</span>
                </span>
                {{ form.name }}
            </label>
            <label for="{{ form.email.id_for_label }}">
                <span>Email 
                    <span class="required">*</span>
                </span>
                {{ form.email }}
            </label>
            <label for="{{ form.contact.id_for_label }}">
                <span>Contact no.</span>
                {{ form.contact }}
            </label>
            <label for="{{ form.message.id_for_label }}">
                <span>Message 
                    <span class="required">*</span>
                </span>
                {{ form.message }}
            </label>
            <label>
                <span> </span>
                <input class="submit-btn" type="submit" value="Submit" />
            </label>
        </form>
    </div>

</body>
</html>